<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  IgnorableNamespaces="uap mp uap6">

  <Identity
    Name="60672TripodFound.DockVita"
    Publisher="CN=70CF1695-06B3-4B57-8DCD-3788C28AED2F"
    Version="1.0.7.0" />

  <mp:PhoneIdentity PhoneProductId="7d63328b-0fc7-4097-b60b-0fe3ed26b68a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>DockVita</DisplayName>
    <PublisherDisplayName>TripodFound</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="VitaDock_CameraUWP.App">
      <uap:VisualElements
        DisplayName="DockVita"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="VitaDock_CameraUWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap6:Capability Name="graphicsCapture"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="gazeInput"/>
    <DeviceCapability Name="webcam"/>
  </Capabilities>
</Package>